In [1]:
import geopandas as gpd
import sys

In [3]:
# repo_path = "/[yourpath]/nyc-primary-2025/"

sys.path.insert(0, repo_path + "/src")
sys.path.insert(0, repo_path + "/data")

In [4]:
gdfa = gpd.read_file(repo_path + "/data/nyap_25b/nyap.shp")
gdfc = gpd.read_file(repo_path + "/data/nycg_25b/nycg.shp")

In [5]:
gdfa.head()

,BOROUGH,CENSUSBLOC,CENSUSBL_1,CENSUSTRAC,CENSUSBL_2,CENSUSBL_3,CENSUSTR_1,CENSUSTR_2,ADMIN_FIRE,WATER_FLAG,...,ATOMICID,ATOMIC_NUM,HURRICANE_,CENSUSTR_3,CENSUSBL_4,CENSUSBL_5,COMMERCIAL,Shape_Leng,Shape_Area,geometry
0,5,4023,None,024400,1020,None,024401,024400,E 151,2,...,5024401430,None,X,024401,1007,None,SI1,2424.560416,244110.620576,"POLYGON ((916060.749 123035.17, 915813.207 122..."
1,5,4030,None,024400,2004,None,024401,024400,E 151,2,...,5024401439,None,X,024401,2010,None,SI1,1722.931212,177042.348067,"POLYGON ((917670.171 123564.513, 917698.291 12..."
2,5,2002,B,024400,1005,None,024402,024400,E 151,2,...,5024402223,None,6,024402,1004,None,SI1,770.085650,33790.844037,"POLYGON ((920007.188 123883.162, 919990.952 12..."
3,5,4031,None,024400,2005,None,024401,024400,E 151,2,...,5024401441,None,X,024401,2011,None,SI1,1697.908522,171623.335762,"POLYGON ((918015.613 123543.812, 917698.291 12..."
4,5,4015,None,024400,1018,None,024401,024400,E 151,2,...,5024401440,None,X,024401,1021,None,SI1,1243.106869,78855.828376,"POLYGON ((914247.18 124049, 914321.428 123638...."

In [6]:
gdfa.columns

Index(['BOROUGH', 'CENSUSBLOC', 'CENSUSBL_1', 'CENSUSTRAC', 'CENSUSBL_2',
       'CENSUSBL_3', 'CENSUSTR_1', 'CENSUSTR_2', 'ADMIN_FIRE', 'WATER_FLAG',
       'ASSEMDIST', 'ELECTDIST', 'SCHOOLDIST', 'COMMDIST', 'SB1_VOLUME',
       'SB1_PAGE', 'SB2_VOLUME', 'SB2_PAGE', 'SB3_VOLUME', 'SB3_PAGE',
       'ATOMICID', 'ATOMIC_NUM', 'HURRICANE_', 'CENSUSTR_3', 'CENSUSBL_4',
       'CENSUSBL_5', 'COMMERCIAL', 'Shape_Leng', 'Shape_Area', 'geometry'],
      dtype='object')

In [7]:
gdfc.head()

,CongDist,Shape_Leng,Shape_Area,geometry
0,12,163511.646592,2.717811e+08,"MULTIPOLYGON (((994681.406 203127.675, 994780...."
1,3,175355.898511,3.759703e+08,"MULTIPOLYGON (((1054979.75 223171.476, 1055068..."
2,5,647229.809201,1.313440e+09,"MULTIPOLYGON (((1032452.015 154469.237, 103245..."
3,6,184913.080855,7.279196e+08,"POLYGON ((1051683.111 203936.814, 1051646.257 ..."
4,11,411597.755142,1.810285e+09,"MULTIPOLYGON (((970217.022 145643.332, 970227...."

In [8]:
gdfc.columns

Index(['CongDist', 'Shape_Leng', 'Shape_Area', 'geometry'], dtype='object')

In [9]:
intdf = gdfa.overlay(gdfc, how="intersection")

/Users/emilyschuch/.pyenv/versions/dsenv/lib/python3.12/site-packages/geopandas/tools/overlay.py:358: UserWarning: `keep_geom_type=True` in overlay resulted in 16237 dropped geometries of different geometry types than df1 has. Set `keep_geom_type=False` to retain all geometries
  result = _collection_extract(result, geom_type, keep_geom_type_warning)

In [10]:
intdf.head()

,BOROUGH,CENSUSBLOC,CENSUSBL_1,CENSUSTRAC,CENSUSBL_2,CENSUSBL_3,CENSUSTR_1,CENSUSTR_2,ADMIN_FIRE,WATER_FLAG,...,CENSUSTR_3,CENSUSBL_4,CENSUSBL_5,COMMERCIAL,Shape_Leng_1,Shape_Area_1,CongDist,Shape_Leng_2,Shape_Area_2,geometry
0,5,4023,None,024400,1020,None,024401,024400,E 151,2,...,024401,1007,None,SI1,2424.560416,244110.620576,11,411597.755142,1.810285e+09,"POLYGON ((915813.207 122971.686, 915572.827 12..."
1,5,4030,None,024400,2004,None,024401,024400,E 151,2,...,024401,2010,None,SI1,1722.931212,177042.348067,11,411597.755142,1.810285e+09,"POLYGON ((917698.291 123460.022, 917561.044 12..."
2,5,2002,B,024400,1005,None,024402,024400,E 151,2,...,024402,1004,None,SI1,770.085650,33790.844037,11,411597.755142,1.810285e+09,"POLYGON ((919990.952 123874.651, 919973.951 12..."
3,5,4031,None,024400,2005,None,024401,024400,E 151,2,...,024401,2011,None,SI1,1697.908522,171623.335762,11,411597.755142,1.810285e+09,"POLYGON ((917698.291 123460.022, 917670.171 12..."
4,5,4015,None,024400,1018,None,024401,024400,E 151,2,...,024401,1021,None,SI1,1243.106869,78855.828376,11,411597.755142,1.810285e+09,"POLYGON ((914321.428 123638.847, 914081.534 12..."

In [11]:
intdf.columns

Index(['BOROUGH', 'CENSUSBLOC', 'CENSUSBL_1', 'CENSUSTRAC', 'CENSUSBL_2',
       'CENSUSBL_3', 'CENSUSTR_1', 'CENSUSTR_2', 'ADMIN_FIRE', 'WATER_FLAG',
       'ASSEMDIST', 'ELECTDIST', 'SCHOOLDIST', 'COMMDIST', 'SB1_VOLUME',
       'SB1_PAGE', 'SB2_VOLUME', 'SB2_PAGE', 'SB3_VOLUME', 'SB3_PAGE',
       'ATOMICID', 'ATOMIC_NUM', 'HURRICANE_', 'CENSUSTR_3', 'CENSUSBL_4',
       'CENSUSBL_5', 'COMMERCIAL', 'Shape_Leng_1', 'Shape_Area_1', 'CongDist',
       'Shape_Leng_2', 'Shape_Area_2', 'geometry'],
      dtype='object')

In [12]:
gdfc.shape

(13, 4)

In [13]:
gdfa.shape

(69685, 30)

In [14]:
intdf.shape

(70796, 33)

In [15]:
borough_map = {
    "1": "Manhattan",
    "2": "Bronx",
    "3": "Brooklyn",
    "4": "Queens",
    "5": "Staten Island"
}

In [16]:
intdf["borough_name"] = intdf["BOROUGH"].map(lambda x: borough_map[x])

In [17]:
intdf[intdf["CongDist"] == 10].groupby("borough_name").count()

,BOROUGH,CENSUSBLOC,CENSUSBL_1,CENSUSTRAC,CENSUSBL_2,CENSUSBL_3,CENSUSTR_1,CENSUSTR_2,ADMIN_FIRE,WATER_FLAG,...,CENSUSTR_3,CENSUSBL_4,CENSUSBL_5,COMMERCIAL,Shape_Leng_1,Shape_Area_1,CongDist,Shape_Leng_2,Shape_Area_2,geometry
borough_name,,,,,,,,,,,,,,,,,,,,,
Brooklyn,3062,3062,156,3062,3062,0,3062,3062,3062,3062,...,3062,3062,0,3062,3062,3062,3062,3062,3062,3062
Manhattan,2509,2509,117,2509,2509,0,2509,2509,2509,2509,...,2509,2509,0,2509,2509,2509,2509,2509,2509,2509